@font-face{
    font-family: "Handwriting";
    src: url('/font/Handwriting.ttf')
    }
:root{
    --font-family-sans-serif:Handwriting,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}